<main class="content">
  <section class="favourites">
    <div class="favourites__title subtitle__section">
      <img class="favourite__icon" src="./assets/images/favourite.png" />
      <h2>Mis favoritos</h2>
    </div>
    <ul class="favourites__list"></ul>
    <p class="favourites__message">
      ¡Guarda tu primera película! <br />Pincha en
      <span
        class="heart__no-favourite favourite__icon favourites__message--heart"
      ></span>
      en la película
    </p>
    <div class="button__container">
      <button class="favourite__remove--button hidden">
        Borrar lista de favoritos
      </button>
    </div>
  </section>
  <section class="results__box">
    <div class="landing">
      <h2 class="welcome">¿Qué quieres ver hoy?</h2>
      <img
        class="welcome__gif"
        src="https://media.giphy.com/media/UGcvSDgGsKFby/giphy.gif"
      />
      <!-- <img class="logo-tvm" src="./assets/images/tvm-logo.png"> -->
    </div>
    <div class="subtitle__section">
      <h2 class="results__title hidden">
        RESULTADO PARA TU BÚSQUEDA: <span class="search__text"></span>
      </h2>
    </div>
    <ul class="results__list"></ul>
  </section>
</main>
