<section class="favourites">
  <div class="favourites__title--container">
    <div class="favourites__title">
      <img class="favourites__title--icon" src="./assets/images/favourite.png" alt="icono favoritos"/>
      <h2 class="favourites__title--text">Mis favoritos
        <span class="favourite__title--arrow"></span>
      </h2>
    </div>
  </div>
  <div class="favourites__list--container">
    <ul class="favourites__list"></ul>
    <p class="favourites__list--message">
      ¡Guarda tu primer favorito! <br />Pincha en
      <span class="heart__no-favourite favourite__icon favourites__message--heart"></span> 
      en la película </p>
  </div>
  <div class="button__container">
    <button class="favourite__remove--button hidden">
      Borrar lista de favoritos
    </button>
  </div>
</section>
