<header class="header">
  <div class="header__container">
    <div class="logo__container">
      <img class="movie__icon" src="./assets/images/movie-icon.png" />
      <div class="title__container">
        <h1 class="title__main">Buscad<span class="hidden-o" id="missing-o">o</span>r</h1>
        <span class="icon__search--container .moveIcon"
          ><img class="icon__search--logo" src="./assets/images/search-icon.png"
        /></span>
      </div>
    </div>
    <div class="search__container">
      <form>
        <label for="search__input"></label>
        <input
          type="text"
          placeholder="Series & películas"
          class="search__input"
          id="search__input" required
        />
        <button class="search__button"></button>
        <button class="remove__search--button hidden">X</button>
      </form>
    </div>
  </div>
</header>
