<!DOCTYPE html>
<html lang="es">
  <partial src="_head.html" label="head"></partial>
  <body>
    <div class="page">
      <partial src="_header.html" label="header"></partial>
      <main class="content">
        <partial src="_favourites.html" label="favourites"></partial>
        <partial src="_results.html" label="results"></partial>
      </main>
      <partial src="_footer.html" label="footer"></partial>
    </div>
    <script type="text/javascript" src="./assets/js/main.js"></script>
  </body>
</html>
