<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Buscador de series</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <header>
        <h1>Buscador de series</h1>
      </header>
      <main>
        <div class="search__container">
          <form>
            <label for="search__input"></label>
            <input class="search__input" id="search__input">
            <button class="search__button">¡Busca tu película!</button>
          </form>
        </div>
        <section class="results__container"></section>
        <section class="favourites"></section>
      </main>
      <footer>
        <a><img src="./assets/images/logo-adalab-80px.png"></a>
      </footer>
    </div>
    <script type="text/javascript" src="./assets/js/main.js"></script>
  </body>
</html>
