.page {
    height: 100vh;
    .header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 110px;
        padding: 5px;
        background-color: white;
        z-index: 2;
    }
    .content {
        margin-top: 100px;
        display: flex;
        // justify-content: space-between;
        .favourites {
            height: 100%;
            width: 30%;
            padding-top: 150px;
            .favourites__title {
                // border: blue 1px solid;
                // position: fixed;
                // width: 100%;
                background-color: white;
                z-index: 1;
                .favourite__icon {
                    top: 49px;
                    left: 5px;
                }
                h2 {
                    margin-left: 45px;
                }
            }
            .favourites__list {
                margin-top: 95px;
            }
        }
        .results__box {
            width: 70%;
        }
    }
    .footer {
        position: fixed;
        bottom: 0px;
    }
}

ul {
    padding-inline-start: 0px;
}