// FAVOURITES STYLES //

.favourites__title--container {
  @include subtitle;
  top: 140px;
  left: 0px;
  padding: 10px;
  height: 70px;
  z-index: 4;
  @include subtitleFont;
  text-align: center;
  .favourites__title {
    display: flex;
    justify-content: center;
    align-items: center;
    @include forTablet {
      position: relative;
      top: 25%;
    }
    .favourites__title--icon {
      @include favourite__icon;
      padding: 0 5px;
      display: inline-block;
    }
    .favourites__title--text {
      display: inline-block;
      @include forTablet {
        padding: 0px;
      }
    }
    .favourites__title--arrow {
      font-size: 35px;
      transform: rotate(180deg);
      position: relative;
      right: -5px;
      @include forTablet {
        display: none;
      }
    }
  }
}
.favourites__list--container {
  display: none;
  position: fixed;
  height: 50%;
  overflow: scroll;
  background-color: $colorBackground;
  z-index: 3;
  top: 170px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid $colorMain;
  border-top-style: outset;
  @include contentPaddings;
  @include forTablet {
    display: inherit;
    position: static;
    overflow: visible;
    border: none;
  }
  .favourites__list {
    margin-top: 40px;
    padding: 10px;
    padding-right: 15px;
    @include forTablet {
      margin-top: 85px;
    }
  }
  .favourites__list--message {
    @include bodyFont;
    text-align: center;
    padding-top: 30px;
    @include forTablet {
      padding-top: 10px;
      position: fixed;
      width: 50%;
    }
    @include forPc {
      width: 25%;
    }
    .favourites__message--heart {
      @include favourite__icon;
      top: 9px;
      display: inline-block;
    }
  }
  .button__container {
    text-align: center;
    .favourite__remove--button {
      width: 60%;
      font-family: $fontbody;
      font-size: 12px;
      border-style: none;
      border-radius: 25px;
      padding: 10px;
      &:hover,
      &:focus {
        background-color: $colorSecondary;
      }
      @include forTablet {
        font-size: 14px;
      }
    }
  }
}
