.favourites {
  height: 100%;
  width: 25vw;
  position: relative;
  .favourites__title {
    font-family: "Righteous";
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
    width: 24%;
    .favourite__icon {
      top: 45px;
      left: -70px;
    }
    h2 {
      margin-left: 35px;
    }
  }
  .favourites__list {
    margin-top: 85px;
    padding: 10px;
    padding-right: 15px;
  }
  .button__container {
    text-align: center;
    .favourite__remove--button {
      width: 60%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 14px;
      border-style: none;
      border-radius: 25px;
      padding: 10px;
      &:hover {
        background-color: grey;
      }
    }
  }
}

.favourite__item {
  display: flex;
  flex-direction: row;
  margin: 5px;
  .favourite__image {
    height: 50px;
    margin-right: 10px;
    a {
      img {
        height: 100%;
      }
    }
  }
  .favourite__title {
    font-size: 14px;
  }
}
.favourite__icon {
  height: 25px;
  padding: 0 12px;
  margin-right: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 12px;
  left: 5px;
}
.favourite__background {
  background-color: #1f9c8d;
}
.favourite__textColor {
  color: #1f9c8d;
}
.heart__favourite {
  background-image: url("/assets/images/favourite.png");
  &:hover {
    background-image: url("/assets/images/no-favourite.png");
  }
}
.heart__no-favourite {
  background-image: url("/assets/images/no-favourite.png");
  &:hover {
    background-image: url("/assets/images/favourite.png");
  }
}
.favourites__message {
  font-size: 14px;
  text-align: center;
  .favourites__message--heart {
    display: inline-block;
  }
}
