// HEADER STYLES //

.header {
  * {
    margin: 0px;
  }
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  padding: 15px;
  background-color: $colorBackground;
  z-index: 5;
  box-shadow: 0px 0px 10px lightgrey;
  .header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon__movie {
      height: 40px;
      position: relative;
      top: 4px;
      padding-right: 4px;
      @include forTablet {
        height: 50px;
      }
    }
    .title__container {
      position: relative;
      display: inline-block;
      .title__main {
        @include titleFont;
      }
      .icon__search--container {
        position: absolute;
        top: 6.4px;
        right: 17px;
        width: 34px;
        @include forTablet {
          top: 7.6px;
          right: 22px;
          width: 44px;
        }
        .icon__search {
          width: 100%;
        }
      }
    }
    .search__container {
      margin: 10px 20px;
      width: 300px;
      @include forTablet {
        width: 500px;
      }
      .search__form {
        display: inline-flex;
        width: 100%;
        position: relative;
        .search__input {
          width: 85%;
          height: 40px;
          padding-left: 15%;
          @include bodyFont;
          color: $colorFontSecondary;
          text-align: center;
          background-color: $colorMain;
          border-style: none;
          &:focus, &:valid {
            padding-left: 5%;
            background-color: $colorInputFocus;
            color: $colorFontMain;
          }
          &::placeholder {
            color: $colorFontSecondary;
            text-transform: uppercase;
          }
          &:focus::placeholder {
            color: transparent;
            transition: ease all 0.3s;
          }
          @include forTablet {
            width: 90%;
            padding-left: 10%;
          }
        }
        .search__submit--button {
          width: 15%;
          background-color: $colorMain;
          border-style: none;
          @include forTablet {
            width: 10%;
          }
        }
        .search__remove--button {
          position: absolute;
          background-color: transparent;
          left: 8px;
          bottom: 10.5px;
          font-family: $fontbody;
          font-size: 11px;
          font-weight: 200;
          color: grey;
          border: 1px solid grey;
          border-radius: 50%;
          padding: 2px 5px;
          cursor: pointer;
        }
      }
    }
  }
}