.header {
    position: fixed;
    top: 0;
    width: 100vw;
    // height: 110px;
    padding: 15px;
    // padding: 5px;
    background-color: #3F3F3F;
    z-index: 2;
    .header__container {
        max-width: 800px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo__tvmaze {
            max-height: 50px;
            margin-right: 15px;
        }
        .search__input {
            width: 50%;
            height: 32px;
            border-radius: 25px;
        }
    }
    
}
