// LANDING STYLES //

.landing {
  position: relative;
  top: 210px;
  height: 40vh;
  padding: 0px 60px;
  line-height: 1.5;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include forTablet {
    padding: 30px;
  }
  .welcome__text {
    font-size: 25px;
    font-family: $fontTitle;
    text-transform: uppercase;
    color: #c7d0d8;
    @include forTablet {
      font-size: 40px;
    }
    @include forPc {
      font-size: 50px;
    }
  }
  .welcome__gif {
    width: 80px;
  }
}
