* {
  // margin: 0px;
  box-sizing: border-box;
}
a, button {
  cursor: pointer;
}
.page {
  height: 100%;
  position: relative;
  .content {
    min-height: 70vh;
    margin-top: 170px;
    margin-bottom: 30px;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
}
ul {
  padding-inline-start: 0px;
}

.hidden {
  display: none;
}
.subtitle__section {
    position: fixed;
    top: 155px;
    height: 100px;
    width: 100%;
    background-color: white;
    text-transform: uppercase;
    z-index: 1;
}