// ESTILOS DINÁMICOS JS

.hide-o {
  opacity: 0;
}

.show-o {
  opacity: 1;
  transition: 1s opacity ease;
}

.moveIcon {
  transform: translate(44px, 47px) scale(0.6);
  transition: transform ease 0.8s;
  z-index: 1;
  &:hover {
    opacity: 0.5;
  }
  @include forTablet {
    transform: translate(119px, 51px) scale(0.6);
  }
}

.input__shadow {
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: input__shadow 2s infinite;
  &:hover,
  &:focus {
    animation: none;
  }
}

.movie__favourite {
  // background-image: url("/assets/images/movie-icon.png");
  background-image: url("/assets/images/favourite.png");
}
.hidden {
  display: none;
}
