// DINAMIC JS STYLES //

.hidden {
  display: none;
}


//Header

.hide-o {
  opacity: 0;
}

.show-o {
  opacity: 1;
  transition: 1s opacity ease;
}

.moveIcon {
  transform: translate(44px, 47px) scale(0.6);
  transition: transform ease 0.8s;
  z-index: 1;
  &:hover {
    opacity: 0.5;
  }
  @include forTablet {
    transform: translate(119px, 51px) scale(0.6);
  }
}

.input__shadow {
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: input__shadow 2s infinite;
  &:hover,
  &:focus {
    animation: none;
  }
}

@keyframes input__shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(199, 208, 216, 0.7);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(199, 208, 216, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(199, 169, 216, 0);
  }
}


//Favourites

.favourite__item {
  display: flex;
  flex-direction: row;
  margin: 5px;
  .favourite__image {
    height: 50px;
    margin-right: 10px;
    a {
      img {
        height: 100%;
      }
    }
  }
}

.favourite__icon {
  @include favourite__icon;
  margin-right: 12px;
  top: 12px;
  left: 5px;
}

.favourite__background {
  background-color: #1f9c8d;
}
.favourite__textColor {
  color: #1f9c8d;
}

.heart__favourite {
  background-image: url("/assets/images/favourite.png");
  &:hover {
    background-image: url("/assets/images/no-favourite.png");
  }
}
.heart__no-favourite {
  background-image: url("/assets/images/no-favourite.png");
  &:hover {
    background-image: url("/assets/images/favourite.png");
  }
}
