// DISPOSITIVOS //
$tablet: 768px;
$pc: 1200px;


// COLOR //
$colorMain: #1f9c8d;
$colorBackground: #ffffff;
$colorInputFocus: #e8f0fe;

$colorFontMain: #3f3f3f;
$colorFontSecondary: #f8f8f8;


// TIPOGRAFÍA //
$fontTitle: "Righteous";
$fontbody: "Montserrat", sans-serif;
